/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #279ae7af;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.foto-perfil {
    width: 150px; /* Tamaño de la foto */
    height: 150px; /* Asegurar proporciones */
    border-radius: 50%; /* Convertir la foto en un círculo */
    object-fit: cover; /* Ajustar la imagen dentro del círculo */
    margin-top: 1rem; /* Espacio entre la foto y el texto */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
